body{
    background-image: url(https://img.freepik.com/free-photo/3d-rendering-futuristic-techno-background-with-lights-creating-cool-shapes_181624-27692.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
